* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
    max-width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

main hr {
    border: 0;
    height: 1.2px;
    margin: 40px 84px;
    background-color: rgb(173, 134, 210);
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

nav ul li a:hover {
    color: blueviolet;
    transform: scale(1.1);
}

.dropdown-container {
    position: fixed;
    z-index: 999;
}

.dropdown-content {
    display: none;
    padding: 15px;
    margin-top: 5px;
    max-width: 250px;
    top: 100%;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    color: black;
    opacity: 0.8;
}

#about-content {
    display: none;

    position: relative;
    left: -43%;

}

#projects-content {
    display: none;
    position: relative;
    right: 48%;
}

#contact-content {
    display: none;
    position: relative;
    right: 50%;
}

.project-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* Use flexbox to arrange the links vertically */
    flex-direction: column;
    align-items: flex-start;
}

.project-link li {
    margin-bottom: 10px;
}

.project-link a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(153, 0, 255);
}

.project-link a:hover {
    color: #1f80e0;
}

.dropdown-content h3 {
    margin-top: 0;
}

.dropdown-content p {
    margin: 0;
}

#about-content:target,
#contact-content:target,
#projects-content:target {
    display: block;
    scroll-margin-top: 150px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 35%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .btn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 8px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 4px 4px;
    transition: 0.3s;
}

.leftSection .btn:hover {
    background-color: #6600c5;
    transform: scale(1.1);
}

.rightSection img {
    width: 125%;
    margin: 0 -15%;
    height: auto;
}

.purple,
#element {
    color: blueviolet;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: auto;

}

.gray-text {
    color: gray;
}

.secondSection h1,
.thirdSection h1 {
    font-size: 1.9rem;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.outer-box {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px; /* Restrict image container width */
}

.image {
    width: 52%;
    margin-left: 11%;
}

.box > div:not(.top-image) {
    margin: 0; /* Remove extra margins */
    padding: 0; /* Remove extra padding */
    line-height: 1.5; /* Adjust line height for better spacing */
}

.properties {
    width: 21%;
}

.title, .desc{
    font-size: 0.8rem;
}

.thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}

.logo-box {
    overflow: hidden;
    padding: 0px 0;
    background-color: white;
    white-space: nowrap;
    position: relative;
}

.logo-box:before,
.logo-box:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos {
    display: inline-block;
    animation: 5s slide infinite linear;
}

.logos img {
    height: 300px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

footer {
    background-color: #111;
    height: 20vh;
    padding: 50px 0;
}

.footerContainer {
    width: 100%;
    padding: 70px, 30px, 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

a#top {
    position: absolute;
    top: 0;
    left: 0;
}

#backToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(51, 51, 51, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0.4;
}

#backToTopButton:hover {
    background-color: #555;
    opacity: 1;
}



@media (max-width: 771px) {
    .firstSection {
        flex-direction: column;
        align-items: center;
    }

    .firstSection>div {
        width: 80%;
    }

    .leftSection .buttons {
        position: relative;
        left: 28%;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: rgb(18, 18, 62);
        max-width: 100%;
        position: relative;
        right: -1%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }

    #contact-content {
        display: none;
        position: relative;
        right: 80%;
        padding: 11px 2px;
    }

    .socialIcons a {
        text-decoration: none;
        padding: 13px;
        background-color: white;
        border-radius: 50%;
        margin: 0px;
    }

    .left {
        font-size: 0.9rem;
    }

    .leftSection {
        font-size: 1.5rem;
    }

    .rightSection img {
        width: 127%;
        margin: 36% 0%;
        height: auto;
        margin-bottom: -87px;
        position: relative;
        right: 22px;
    }

    .leftSection .buttons {
        position: relative;
        left: 18%;
    }

    .leftSection .btn {
        font-size: 0.7rem;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 1px;
        border: 0.1px solid white;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        margin: 0px 0px;
        transition: 0.3s;
    }

    main hr {
        border: 0;
        height: 1.2px;
        margin: 0 56px;
        background-color: rgb(173, 134, 210);
    }

    .firstSection>div {
        width: 50%;
        margin-top: -70px;
    }

    .secondSection {
        max-width: 63vw;
        margin: auto;
        height: auto;
    }

    .secondSection h1,
    .thirdSection h1 {
        font-size: 0.8rem;
    }

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        /* padding: 0 0 0 0; */
    }

    .gray-text {
        color: gray;
        font-size: 0.5rem;
    }

    /* .image {
        width: 83%;
        margin-left: 27px;
    } */

    .top-image {
        width: 83%;
        margin-left: 27px;
    }

    .properties {
        display: block;
        width: 100%;
        margin-top: -19px;
    }

    .title,
    .desc {
        font-size: 0.4rem;
    }

    .thirdSection {
        max-width: 85vw;
        margin: auto;
        height: 24vh;
    }

    .logo-box:before {
        right: 0;
        background: linear-gradient(to left, rgba(152, 132, 177, 0), white);
    }

    .logo-box:after {
        left: 0;
        background: linear-gradient(to left, rgba(152, 132, 177, 0), white);
    }

    .logos img {
        height: 152px;
        margin: 0 40px;
    }

    footer {
        background-color: #111;
        height: 0vh;
        padding: 0px 0;
    }

    .socialIcons {
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
    }

    .socialIcons a {
        text-decoration: none;
        padding: 10px;
        background-color: white;
        border-radius: 50%;
        margin: 4px;
    }

    .socialIcons a i {
        font-size: 0.9rem;
        color: black;
        opacity: 0.9;
    }

    .footerBottom p {
        color: white;
        font-size: 0.5em;
    }

    #backToTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(51, 51, 51, 0.6);
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 0.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 50px;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease, opacity 0.3s ease;
        opacity: 0.4;
    }

}

@media (max-width: 430px) {

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: rgb(18, 18, 62);
        max-width: 100%;
        position: relative;
        right: -1%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        font-size: 0.71rem;
    }

    .left {
        font-size: 0.7rem;
    }

    .firstSection {
        flex-direction: column;
        align-items: center;
    }

    .firstSection>div {
        width: 63%;
        margin-top: -62px;
    }

    .properties {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .leftSection {
        font-size: 1rem;
    }

    .rightSection img {
        width: 100%;
        margin: 25% 0%;
        height: auto;
        margin-bottom: 0;
    }

    .leftSection .btn {
        font-size: 0.5rem;
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 3px;
        border: 0.1px solid white;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        margin: 0px 0px;
        transition: 0.3s;
    }

    .secondSection {
        max-width: 63vw;
        margin: auto;
        height: auto;
    }

    .secondSection h1,
    .thirdSection h1 {
        font-size: 1rem;
    }

    .gray-text {
        color: gray;
        font-size: 0.7rem;
    }

    .image {
        width: 123%;
        margin-left: 0;
    }

    .properties {
        display: block;
        width: 100%;
        margin-top: -6px;
    }

    .hr2 {
        border: 0;
        height: 1.2px;
        margin: 9px 40px;
        background-color: rgb(173, 134, 210);
    }

    main hr {
        border: 0;
        height: 1.2px;
        margin: 2px 40px;
        background-color: rgb(173, 134, 210);
        margin-top: -85px;
    }

    .title,
    .desc {
        font-size: 0.6rem;
    }

    .thirdSection {
        max-width: 85vw;
        margin: auto;
        height: 22vh;
    }

    .logo-box:before {
        right: 0;
        background: linear-gradient(to left, rgba(152, 132, 177, 0), white);
    }

    .logo-box:after {
        left: 0;
        background: linear-gradient(to left, rgba(152, 132, 177, 0), white);
    }

    .logos img {
        height: 123px;
        margin: 0 18px;
    }

    footer {
        background-color: #111;
        height: 0vh;
        padding: 0px 0;
    }

    .socialIcons {
        display: flex;
        justify-content: center;
        font-size: 0.4rem;
    }

    .socialIcons a i {
        font-size: 0.9rem;
        color: black;
        opacity: 0.9;
    }

    .footerBottom p {
        color: white;
        font-size: 0.5em;
    }

    #backToTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(51, 51, 51, 0.6);
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 0.5rem;
        text-align: center;
        text-decoration: none;
        line-height: 50px;
        cursor: pointer;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s ease, opacity 0.3s ease;
        opacity: 0.4;
    }

}